<ion-view view-title="Artist Info">
  <ion-content>
    <div class="row">
      <div class="col">
        <div>
          <a class="item item-thumbnail-left">
            <img src="{{profile.avatar}}" class="blush-avatar">
            <h2>{{profile.firstName}} {{profile.lastName}}</h2>
            <p>{{profile.serviceType}}</p>
            <p>
              <i class="ion-android-star energized"></i>
              <i class="ion-android-star energized"></i>
              <i class="ion-android-star energized"></i>
              <i class="ion-android-star energized"></i>
              <i class="ion-android-star-half energized"></i>
            </p>
          </a>
        </div>
        <div class="list">
          <div class="item item-divider">
            Personal Info
          </div>
          <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" placeholder="First Name" ng-model="artistProfile.firstName">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Last Name" ng-model="artistProfile.lastName">
          </label>

          <label class="item item-input item-select">
            <span class="input-label">Gender</span>
            <select ng-model="artistProfile.gender">
              <option value="female">Female</option>
              <option value="male">Male</option>
            </select>
          </label>



          <div class="item" ion-datetime-picker date ng-model="artistProfile.birthDate">
            <span class="input-label">Birthdate</span>
            <strong>{{artistProfile.birthDate| date: "yyyy-MM-dd"}}</strong>
          </div>


          <div class="item item-divider">
            Contact Information
          </div>

          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="Email" ng-model="artistProfile.email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Contact Number</span>
            <input type="text" placeholder="Contact Number" ng-model="artistProfile.contactNumber">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Address</span>
            <input type="text" placeholder="Address" ng-model="artistProfile.address">
          </label>

          <div class="item item-divider">
            Services
          </div>
          <label class="item item-input item-select">
            <span class="input-label">Service Type</span>
            <select ng-model="artistProfile.serviceType">
              <option value="Makeup Artist">Makeup Artist</option>
              <option value="Hair Stylist">Hair Stylist</option>
            </select>
          </label>



          <label class="item" style="padding-bottom: 0px;">
            <button class="button button-block button-light blush-button-teal button-outline" ng-click="saveArtistProfile(picFile)">Save</button>
          </label>
        </div>
      </div>
      <div class="col">


      </div>
    </div>






  </ion-content>

</ion-view>
