.angular-google-map-container {
  height: 100%;
}

.marker-labels {
  width: 160px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
}

.whole-section {
  height: 100%;
}
.map-section {
  height: 100%;
}

.small-footer{
  font-size: 11px;
}
